# Urban Heat Island Effect and Green Spaces (SQL DDL)

In [1]:
import sqlite3

In [2]:
# Connect to the SQLite database
conn = sqlite3.connect('database.db')

# Get a cursor object
cursor = conn.cursor()

## Create Table

### Entities

**Global Global Urban Heat Data in 2013**

In [3]:
cursor.execute("""
CREATE TABLE Global_UHI_population (
    ISOURBID CHAR(7),
    ISO3 CHAR(3),
    URBID INTEGER,
    NAME CHAR(50),
    SCHNM CHAR(50),
    LATITUDE REAL,
    LONGITUDE REAL,
    ES90POP INTEGER,
    ES95POP INTEGER,
    ES00POP INTEGER,
    PRIMARY KEY (ISOURBID)
)
""")

In [4]:
cursor.execute("""
CREATE TABLE Global_UHI_UHI (
    ISOURBID CHAR(7),
    ISO3 CHAR(3),
    URBID INTEGER,
    NAME CHAR(50),
    SCHNM CHAR(50),
    LATITUDE REAL,
    LONGITUDE REAL,
    SQKM_FINAL REAL,
    URB_D_MEAN REAL,
    BUF_D_MEAN REAL,
    D_T_DIFF REAL,
    URB_N_MEAN REAL,
    BUF_N_MEAN REAL,
    N_T_DIFF REAL,
    PRIMARY KEY (ISOURBID)
)
""")

**USA population data**

In [5]:
cursor.execute("""
CREATE TABLE USA_population (
    Geographic_area CHAR(50),
    Census Real,
    Estimated_base Real,
    Year Real,
    Population Real,
    PRIMARY KEY (Geographic_area)
)
""")

**USA Park, Green Space**

In [6]:
cursor.execute("""
CREATE TABLE USA_park (
    State CHAR(20),
    Overall_Rank INTEGER,
    Green_Energy_Rank INTEGER,
    Open_Spaces_Beauty INTEGER,
    Waste_Diversion_Recycling INTEGER,
    Racial_Justice_Access_to_Clean_Outdoors INTEGER,
    PRIMARY KEY (State)
)
""")

### Relations

In [7]:
cursor.execute("""
CREATE TABLE GHI_POP (
    ISOURBID CHAR(7),
    Geographic_area CHAR(50),
    PRIMARY KEY (ISOURBID, Geographic_area), 
    FOREIGN KEY (ISOURBID) REFERENCES Global_UHI_UHI
    ON UPDATE CASCADE,
    FOREIGN KEY (Geographic_area) REFERENCES USA_population
    ON UPDATE CASCADE
)
""")

In [8]:
cursor.execute("""
CREATE TABLE GHI_PARK (
    ISOURBID CHAR(7),
    State CHAR(20),
    PRIMARY KEY (ISOURBID, State), 
    FOREIGN KEY (ISOURBID) REFERENCES Global_UHI_UHI
    ON UPDATE CASCADE,
    FOREIGN KEY (State) REFERENCES USA_park
    ON UPDATE CASCADE
)
""")

In [9]:
cursor.execute("""
CREATE TABLE POP_PARK (
    Geographic_area CHAR(50),
    State CHAR(20),
    PRIMARY KEY (Geographic_area, State), 
    FOREIGN KEY (Geographic_area) REFERENCES USA_population
    ON UPDATE CASCADE,
    FOREIGN KEY (State) REFERENCES USA_park
    ON UPDATE CASCADE
)
""")

## Input Data

**Global Global Urban Heat Data**

**USA population data**

**USA Park, Green Space**

In [10]:
sql_insert = """
INSERT INTO USA_park (State, Overall_Rank, Green_Energy_Rank, Open_Spaces_Beauty, Waste_Diversion_Recycling, Racial_Justice_Access_to_Clean_Outdoors)
VALUES (?, ?, ?, ?, ?, ?)
"""

# Data to be inserted
data = [
    ('Washington', 1, 10, 6, 2, 12),
('Hawaii', 2, 1, 2, 24, 8),
('California', 3, 25, 1, 1, 9),
('Rhode Island', 4, 1, 29, 16, 3),
('Maine', 5, 1, 25, 4, 28),
('Florida', 6, 18, 6, 5, 14),
('New Hampshire', 7, 22, 32, 5, 1),
('Vermont', 8, 21, 40, 2, 2),
('Delaware', 9, 1, 21, 7, 46),
('Oregon', 10, 7, 39, 15, 9),
('Minnesota', 11, 12, 45, 17, 3),
('Michigan', 12, 24, 4, 11, 18),
('Massachusetts', 13, 16, 5, 18, 25),
('Maryland', 14, 26, 8, 10, 13),
('New York', 15, 15, 8, 30, 16),
('Nevada', 16, 8, 41, 8, 36),
('Idaho', 17, 1, 46, 25, 30),
('Wisconsin', 18, 14, 19, 29, 24),
('Virginia', 19, 37, 13, 12, 7),
('Tennessee', 20, 20, 21, 27, 21),
('South Dakota', 21, 9, 38, 35, 20),
('Connecticut', 22, 31, 16, 19, 21),
('Missouri', 23, 17, 41, 35, 6),
('Georgia', 24, 19, 37, 40, 16),
('New Jersey', 25, 40, 10, 22, 14),
('Pennsylvania', 26, 41, 18, 9, 31),
('Iowa', 27, 11, 50, 27, 34),
('Kentucky', 28, 45, 11, 32, 5),
('North Carolina', 29, 23, 3, 44, 37),
('Arkansas', 30, 32, 35, 38, 9),
('Alabama', 31, 27, 29, 32, 39),
('Nebraska', 32, 13, 48, 37, 40),
('South Carolina', 33, 28, 29, 34, 38),
('West Virginia', 34, 49, 17, 25, 23),
('Colorado', 35, 42, 15, 19, 43),
('Texas', 36, 44, 21, 13, 44),
('Ohio', 36, 38, 26, 30, 35),
('Arizona', 38, 30, 13, 41, 42),
('New Mexico', 39, 48, 32, 21, 27),
('Montana', 40, 36, 26, 38, 32),
('Wyoming', 41, 51, 24, 22, 28),
('Mississippi', 42, 33, 43, 48, 18),
('Utah', 43, 46, 12, 13, 50),
('Kansas', 44, 35, 49, 41, 25),
('Illinois', 45, 34, 28, 43, 45),
('Indiana', 46, 29, 34, 45, 48),
('North Dakota', 47, 39, 47, 46, 32),
('Oklahoma', 48, 43, 43, 47, 40),
('Alaska', 49, 50, 19, 50, 46),
('Louisiana', 50, 47, 36, 49, 49)
]

# Execute the insert statement for each row of data
cursor.executemany(sql_insert, data)