# Urban Heat Island Effect and Green Spaces (SQL DDL)

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to the SQLite database
conn = sqlite3.connect('uhi_green.db')

# Get a cursor object
cursor = conn.cursor()

## Create Table

### Entities

**Global Global Urban Heat Data in 2013**

In [3]:
cursor.execute("""
CREATE TABLE Global_UHI_population (
    ISOURBID CHAR(7),
    ISO3 CHAR(3),
    URBID INTEGER,
    NAME CHAR(50),
    SCHNM CHAR(50),
    LATITUDE REAL,
    LONGITUDE REAL,
    ES90POP INTEGER,
    ES95POP INTEGER,
    ES00POP INTEGER,
    PRIMARY KEY (ISOURBID)
)
""")

In [4]:
cursor.execute("""
CREATE TABLE Global_UHI_UHI (
    ISOURBID CHAR(7),
    ISO3 CHAR(3),
    URBID INTEGER,
    NAME CHAR(50),
    SCHNM CHAR(50),
    LATITUDE REAL,
    LONGITUDE REAL,
    SQKM_FINAL REAL,
    URB_D_MEAN REAL,
    BUF_D_MEAN REAL,
    D_T_DIFF REAL,
    URB_N_MEAN REAL,
    BUF_N_MEAN REAL,
    N_T_DIFF REAL,
    PRIMARY KEY (ISOURBID)
)
""")

**USA population data**

In [5]:
cursor.execute("""
CREATE TABLE USA_population (
    Geographic_area CHAR(50),
    Census Real,
    Estimated_base Real,
    Year Real,
    Population Real,
    PRIMARY KEY (Geographic_area)
)
""")

**USA Park, Green Space**

In [6]:
cursor.execute("""
CREATE TABLE USA_park (
    State CHAR(20),
    Overall_Rank INTEGER,
    Green_Energy_Rank INTEGER,
    Open_Spaces_Beauty INTEGER,
    Waste_Diversion_Recycling INTEGER,
    Racial_Justice_Access_to_Clean_Outdoors INTEGER,
    PRIMARY KEY (State)
)
""")

### Relations

In [7]:
cursor.execute("""
CREATE TABLE GHI_POP (
    ISOURBID CHAR(7),
    Geographic_area CHAR(50),
    PRIMARY KEY (ISOURBID, Geographic_area), 
    FOREIGN KEY (ISOURBID) REFERENCES Global_UHI_UHI
    ON UPDATE CASCADE,
    FOREIGN KEY (Geographic_area) REFERENCES USA_population
    ON UPDATE CASCADE
)
""")

In [8]:
cursor.execute("""
CREATE TABLE GHI_PARK (
    ISOURBID CHAR(7),
    State CHAR(20),
    PRIMARY KEY (ISOURBID, State), 
    FOREIGN KEY (ISOURBID) REFERENCES Global_UHI_UHI
    ON UPDATE CASCADE,
    FOREIGN KEY (State) REFERENCES USA_park
    ON UPDATE CASCADE
)
""")

In [9]:
cursor.execute("""
CREATE TABLE POP_PARK (
    Geographic_area CHAR(50),
    State CHAR(20),
    PRIMARY KEY (Geographic_area, State), 
    FOREIGN KEY (Geographic_area) REFERENCES USA_population
    ON UPDATE CASCADE,
    FOREIGN KEY (State) REFERENCES USA_park
    ON UPDATE CASCADE
)
""")

## Input Data

**Global Global Urban Heat Data**

In [10]:
uhi_df = pd.read_csv('Data/USA_UHI.csv', encoding='ISO-8859-1')
uhi_df.head()

,ISOURBID,ISO3,URBID,NAME,SCHNM,ES90POP,ES95POP,ES00POP,SQKM_FINAL,URB_D_MEAN,BUF_D_MEAN,D_T_DIFF,URB_N_MEAN,BUF_N_MEAN,N_T_DIFF,LATITUDE,LONGITUDE
0,GRL8,GRL,8,Upernavik,UPERNAVIK,918,1015.0,1123,4.93,7.05,7.95,-0.90,-3.16,-1.66,-1.50,72.788598,-56.140056
1,USA15,USA,15,Barrow,BARROW,3469,3986.0,4581,152.21,10.65,12.41,-1.76,-0.45,0.80,-1.25,71.303963,-156.730206
2,NOR17,NOR,17,Honningsvg,HONNINGSVAG,2237,2356.0,2510,47.58,16.66,14.53,2.13,5.43,6.72,-1.29,71.004989,25.962568
3,NOR19,NOR,19,Hav?ysund,HAVOYSUND,1285,1235.0,1163,19.44,14.61,14.87,-0.26,5.61,5.75,-0.14,70.983068,24.652803
4,NOR21,NOR,21,Kj?llefjord,KJOLLEFJORD,1159,1115.0,1049,35.16,20.33,18.24,2.09,4.57,6.96,-2.40,70.943870,27.356392

In [11]:
UHI_population_df = uhi_df[['ISOURBID', 'ISO3', 'URBID', 'NAME', 'SCHNM', 'LATITUDE', 'LONGITUDE', 'ES90POP', 'ES95POP', 'ES00POP']]
UHI_population_df.head()

,ISOURBID,ISO3,URBID,NAME,SCHNM,LATITUDE,LONGITUDE,ES90POP,ES95POP,ES00POP
0,GRL8,GRL,8,Upernavik,UPERNAVIK,72.788598,-56.140056,918,1015.0,1123
1,USA15,USA,15,Barrow,BARROW,71.303963,-156.730206,3469,3986.0,4581
2,NOR17,NOR,17,Honningsvg,HONNINGSVAG,71.004989,25.962568,2237,2356.0,2510
3,NOR19,NOR,19,Hav?ysund,HAVOYSUND,70.983068,24.652803,1285,1235.0,1163
4,NOR21,NOR,21,Kj?llefjord,KJOLLEFJORD,70.943870,27.356392,1159,1115.0,1049

In [12]:
UHI_population_df.columns = UHI_population_df.columns.str.strip()
UHI_population_df.to_sql('Global_UHI_population', conn, if_exists = 'replace')

31500

In [13]:
UHI_UHI_df = uhi_df[['ISOURBID', 'ISO3', 'URBID', 'NAME', 'SCHNM', 'LATITUDE', 'LONGITUDE', 'SQKM_FINAL', 
                         'URB_D_MEAN', 'BUF_D_MEAN', 'D_T_DIFF', 'URB_N_MEAN', 'BUF_N_MEAN', 'N_T_DIFF']]

UHI_UHI_df.head()

,ISOURBID,ISO3,URBID,NAME,SCHNM,LATITUDE,LONGITUDE,SQKM_FINAL,URB_D_MEAN,BUF_D_MEAN,D_T_DIFF,URB_N_MEAN,BUF_N_MEAN,N_T_DIFF
0,GRL8,GRL,8,Upernavik,UPERNAVIK,72.788598,-56.140056,4.93,7.05,7.95,-0.90,-3.16,-1.66,-1.50
1,USA15,USA,15,Barrow,BARROW,71.303963,-156.730206,152.21,10.65,12.41,-1.76,-0.45,0.80,-1.25
2,NOR17,NOR,17,Honningsvg,HONNINGSVAG,71.004989,25.962568,47.58,16.66,14.53,2.13,5.43,6.72,-1.29
3,NOR19,NOR,19,Hav?ysund,HAVOYSUND,70.983068,24.652803,19.44,14.61,14.87,-0.26,5.61,5.75,-0.14
4,NOR21,NOR,21,Kj?llefjord,KJOLLEFJORD,70.943870,27.356392,35.16,20.33,18.24,2.09,4.57,6.96,-2.40

In [14]:
UHI_UHI_df.columns = UHI_UHI_df.columns.str.strip()
UHI_UHI_df.to_sql('Global_UHI_UHI', conn, if_exists = 'replace')

31500

**USA population data**

In [15]:
population_df = pd.read_csv('Data/USA_Population.csv', skiprows=3, nrows=58)

# Modify the dataset Year column
population_df = population_df.melt(id_vars=['Geographic Area', 'Census', 'Estimates Base'], var_name='Year', value_name='Population')
population_df['Year'] = population_df['Year'].str.extract(r'(\d+)').astype(int)

# Function to remove leading dots
def remove_leading_dot(name):
    if name.startswith('.'):
        return name[1:]
    else:
        return name

population_df["Geographic Area"] = population_df["Geographic Area"].apply(remove_leading_dot)

population_df.head(10)

  Geographic Area       Census Estimates Base  Year   Population
0   United States  308,745,538    308,758,105  2010  309,321,666
1       Northeast   55,317,240     55,318,443  2010   55,380,134
2         Midwest   66,927,001     66,929,725  2010   66,974,416
3           South  114,555,744    114,563,030  2010  114,866,680
4            West   71,945,553     71,946,907  2010   72,100,436
5         Alabama    4,779,736      4,780,125  2010    4,785,437
6          Alaska      710,231        710,249  2010      713,910
7         Arizona    6,392,017      6,392,288  2010    6,407,172
8        Arkansas    2,915,918      2,916,031  2010    2,921,964
9      California   37,253,956     37,254,519  2010   37,319,502

In [16]:
population_df.columns = population_df.columns.str.strip()
population_df.to_sql('USA_population', conn, if_exists = 'replace')

580

**USA Park, Green Space**

In [17]:
sql_insert = """
INSERT INTO USA_park (State, Overall_Rank, Green_Energy_Rank, Open_Spaces_Beauty, Waste_Diversion_Recycling, Racial_Justice_Access_to_Clean_Outdoors)
VALUES (?, ?, ?, ?, ?, ?)
"""

# Data to be inserted
data = [
    ('Washington', 1, 10, 6, 2, 12),
('Hawaii', 2, 1, 2, 24, 8),
('California', 3, 25, 1, 1, 9),
('Rhode Island', 4, 1, 29, 16, 3),
('Maine', 5, 1, 25, 4, 28),
('Florida', 6, 18, 6, 5, 14),
('New Hampshire', 7, 22, 32, 5, 1),
('Vermont', 8, 21, 40, 2, 2),
('Delaware', 9, 1, 21, 7, 46),
('Oregon', 10, 7, 39, 15, 9),
('Minnesota', 11, 12, 45, 17, 3),
('Michigan', 12, 24, 4, 11, 18),
('Massachusetts', 13, 16, 5, 18, 25),
('Maryland', 14, 26, 8, 10, 13),
('New York', 15, 15, 8, 30, 16),
('Nevada', 16, 8, 41, 8, 36),
('Idaho', 17, 1, 46, 25, 30),
('Wisconsin', 18, 14, 19, 29, 24),
('Virginia', 19, 37, 13, 12, 7),
('Tennessee', 20, 20, 21, 27, 21),
('South Dakota', 21, 9, 38, 35, 20),
('Connecticut', 22, 31, 16, 19, 21),
('Missouri', 23, 17, 41, 35, 6),
('Georgia', 24, 19, 37, 40, 16),
('New Jersey', 25, 40, 10, 22, 14),
('Pennsylvania', 26, 41, 18, 9, 31),
('Iowa', 27, 11, 50, 27, 34),
('Kentucky', 28, 45, 11, 32, 5),
('North Carolina', 29, 23, 3, 44, 37),
('Arkansas', 30, 32, 35, 38, 9),
('Alabama', 31, 27, 29, 32, 39),
('Nebraska', 32, 13, 48, 37, 40),
('South Carolina', 33, 28, 29, 34, 38),
('West Virginia', 34, 49, 17, 25, 23),
('Colorado', 35, 42, 15, 19, 43),
('Texas', 36, 44, 21, 13, 44),
('Ohio', 36, 38, 26, 30, 35),
('Arizona', 38, 30, 13, 41, 42),
('New Mexico', 39, 48, 32, 21, 27),
('Montana', 40, 36, 26, 38, 32),
('Wyoming', 41, 51, 24, 22, 28),
('Mississippi', 42, 33, 43, 48, 18),
('Utah', 43, 46, 12, 13, 50),
('Kansas', 44, 35, 49, 41, 25),
('Illinois', 45, 34, 28, 43, 45),
('Indiana', 46, 29, 34, 45, 48),
('North Dakota', 47, 39, 47, 46, 32),
('Oklahoma', 48, 43, 43, 47, 40),
('Alaska', 49, 50, 19, 50, 46),
('Louisiana', 50, 47, 36, 49, 49)
]

# Execute the insert statement for each row of data
cursor.executemany(sql_insert, data)